
#home-page{
  background: url("./welcomebg.jpg") no-repeat center center fixed;
  background-size: cover;
  height:1000px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
    display:flex; 

}
.welcome-box{
  color:white;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:3px;
  border-style:solid;
  border-color:black;
  padding: 10px 10px 10px 10px;
  background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0));
  margin-top:50px;
  font-size: 24px;
  font-family: paralucent, sans-serif;
}

#test-knowledge{
  font-size:56px;
}

#go-game-button {
  background: white; 
  margin-top: 20px;
  margin-bottom: 20px;
  color:white;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  background:linear-gradient(to top, rgba(0, 0, 0, 0), rgba(217,197,77,1));
  font-family: paralucent, sans-serif;
}


a {
  text-decoration: none;
}

/* Game Page Styling */
.game{
  display: none;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  background: url("./gamebg.jpg") no-repeat center center fixed;
  background-size: cover;
  height:100%;
  overflow: hidden;
}

.first{
  margin:200px;
  text-align:center;
  height: 350px;
  width: 700px;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding: 10px 10px 10px 10px;
  background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0)); 
  
}
.second{
  margin-bottom:200px;
  text-align:center;
  height: 350px;
  width: 700px;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding: 10px 10px 10px 10px;
  background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0)); 
}

.third{
  margin-bottom:200px;
  text-align:center;
  height: 350px;
  width: 700px;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding: 10px 10px 10px 10px;
  background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0)); 
}

.fourth{
  margin-bottom:200px;
  text-align:center;
  height: 350px;
  width: 700px;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding: 10px 10px 10px 10px;
  background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0)); 
}
.fifth{
  text-align:center;
  height: 350px;
  width: 700px;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding: 10px 10px 10px 10px;
  background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0)); 
}

h2{
  color:white;
  font-size:36px;
  font-family: paralucent, sans-serif;
  font-weight: 500px;
  font-style: heavy;
}
#game-title{
  color:white;
  font-size:60px;
  font-family: paralucent, sans-serif;
  font-weight: 500px;
  font-style: heavy;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: -40px;
}
.answer-box{
  display:flex;
  justify-content: center;
  align-items:center;
}

.score-display{
  display:flex;
  flex-direction:column;
 
}
.score{
  color:red;
  font-size:50px;
  font-family: paralucent, sans-serif;
  font-weight: 50px;
  font-style: heavy;
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left:500px;
  
}

.incorrect-answer{
  color:white;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  background:linear-gradient(to top, rgba(0, 0, 0, 0), rgba(217,197,77,1));
  font-family: paralucent, sans-serif;
  margin: 15px;
  width: 75px;
  height:75px;
}
.correct-answer{
  color:white;
  background:linear-gradient(to top, rgba(0, 0, 0, 0), rgba(217,197,77,1));
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  font-family: paralucent, sans-serif;
  margin:15px;
  width: 75px;
  height:75px;
}
.column-1-buttons{
display: flex;
/* flex-direction: column; */
}
.column-2-buttons{
  display: flex;
  /* flex-direction: column; */
}
.results-page{
  background: url("./resultsbg.jpg") no-repeat center center fixed;
  background-size: cover;
  height:1000px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
  display:none;
} 
.results{
  color:white;
  justify-content:space-evenly;
  border-radius: 10px;
  border-width:3px;
  border-style:solid;
  border-color:black;
  padding: 10px 10px 10px 10px;
  background:linear-gradient(to top, rgba(23, 7, 163, 0.79), rgba(0,0,0,0));
  font-size: 24px;
  font-family: paralucent, sans-serif;
  margin-bottom: 700px;
}
  .winner{
    display:none;
  }
  .you-lost{
    display: none;
  }

#results-button {
  color:white;
  width: max-content;
  background:linear-gradient(to top, rgba(0, 0, 0, 0), rgba(217,197,77,1));
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  font-family: paralucent, sans-serif;
  margin: 20px;
  
}

/* resulst page styling */

#play-again{
  color:white;
  width: max-content;
  background:linear-gradient(to top, rgba(0, 0, 0, 0), rgba(217,197,77,1));
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  font-family: paralucent, sans-serif;
}
